apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jpo-ingress
  annotations:

    kubernetes.io/ingress.class: traefik
spec:
  rules:
  - host: vote.kube-nkp.dev
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: vote
            port:
              number: 8080
  - host: result.kube-nkp.dev
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: result
            port:
              number: 8081