apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: jpo-ingressroute
  namespace: default
spec:
  entryPoints:
    - web
  routes:
  - match: Host(`vote.kube-nkp.dev`)
    kind: Rule
    services:
    - name: vote
      port: 8080
  - match: Host(`result.kube-nkp.dev`)
    kind: Rule
    services:
    - name: result
      port: 8081